body {
    background-color: white;
    font-size: small;
}

h1 {
    color: black;
    text-align: center;
}

p {
    font-family: auto;
    font-size: auto;
}

img:hover {
    opacity: 0.6;
}

.two {
    font-size: 20px;
}

.three {
    color: black;
    text-align: center;
    text-shadow: 2px 2px 5px blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.four {
    color: black;
    text-shadow: 2px 2px 5px pink;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.five {
    color: black;
    text-shadow: 2px 2px 5px chartreuse;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.six {
    text-indent: 35px;
}

.seven, .eight, .nine, .ten, .eleven, .twelve, .thirteen, .fourteen, .fifteen {
    margin: 25px;
    border: 2px solid grey;
    padding: 10px;
    border-radius: 15px;
    background-color: bisque;
}

.advice {
    margin: 20px;
    color: midnightblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#lobe {
    border-collapse: collapse;
    width: 100%;
}

#lobe td, #lobe th {
    border: 1px solid gray;
    padding: 16px;
}

.linkk {
    color: midnightblue;
}

a:link {
    color: blue;
}

a:visited {
    text-decoration: none;
    color: red;
}

a:hover {
    color: green;
}

a:active {
    color: rgb(26, 16, 16);
}

.out {
    text-align: center;
}

button {
    background-color: rgb(252, 123, 145);
  border: 2px solid black;
  border-radius: 10px;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 50%;
  margin-right: 50%;
}

button:hover {
    background-color: rgb(116, 116, 219);
}